Package: asio
Version: 1.32.0
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: fe24ceda913436c34356674a6837fd19be592a12c3c6af36597beaeaf4c3ca1b
Description: Asio is a cross-platform C++ library for network and low-level I/O programming that provides developers with a consistent asynchronous model using a modern C++ approach.
